<h1>C'est de l'anglais mais ta traduction auto pour le FR c'est mieux(harry.potter)</h1>

<div class='row'> 
	<div class='email_container col-4'>
		<div class='email '>
			<ul>
				<% @emails.each do |email|%>
					<div class = "mail">
					<li id='<%= email.id %>' class: 'delete_email'>
					<%= email.object%> 
				<%= link_to 'clique here', email_path(email.id), remote:true %>
				</div>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class='body_mailer col-4'>
	</div>
</div>
